pandas==2.3.1
openpyxl==3.1.5
python-dateutil==2.9.0
scikit-learn==1.7.1
matplotlib==3.10.5
python-json-logger==3.3.0
fastapi==0.116.1
greenlet==3.2.4
pydantic==2.11.7
uvicorn==0.35.0
pydantic-settings==2.10.1
python-multipart==0.0.20
alembic==1.16.4
asyncpg==0.30.0
SQLAlchemy==2.0.43
